.wrapper {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  position: absolute;
  width: 98%;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  gap: 8px;
  padding: 2px 0px;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.box {
  display: inline-block;
  padding: 12px 20px 12px 12px;
  min-width: 120px;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px,
    rgb(0 0 0 / 6%) 0px 2px 4px -1px;

  & img {
    border-radius: 50%;
  }

  & h4 {
    margin: 10px 0px 16px 0px;
  }
  & .cal{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
.post {
  margin-top: 156px;
  & .post_img-wrapper{
    width: 50%;
  }
}

.card {
  background-color: rgb(250, 250, 250);
  border-radius: 8px;
  padding-bottom: 16px;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px,
    rgb(0 0 0 / 6%) 0px 2px 4px -1px;
  margin-bottom: 16px;
}
.calorie {
  display: flex;
  align-items: flex-end;
  margin-top: 12px;
  h1 {
    margin: 0px 6px;
    font-size: 34px;
  }
  span {
    font-size: 16px;
    padding-bottom: 4px;
    color: darkgrey;
  }
}

.box.selected{
  background-color: var(--primary);
  color: white;
}